* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "freight-text-pro,Georgia,Cambria,Times New Roman,Times,serif";
  text-rendering: optimizeLegibility;
  font-size:22px;
  line-height: 1.5;
  letter-spacing: .01rem;
}

header {
  background: #333;
  padding :10px 0;
}

div {
  display: block;
}

h1 {
  font-size: 48px;
  letter-spacing: -.04em;
  line-height: 1.1;
}

video {
  display: block;
  border: 1px solid #ccc;
  object-fit: contain;
  margin:0 0 20px 0;
}

canvas {
  display: block;
}

.center {
  display: block;
  max-width: 1024px;
  margin : 0 auto 0 auto; 
  padding: 0 20px 0 20px;
  position: relative;
}

.cameraview {
  min-height: 500;
}

.greenbox {
  padding: 5px 10px;
  background: rgba(105,199,115,0.3);
  font-weight: bold;
  margin-bottom: 10px;
}

.intro {
  padding: 5px 10px;
  background: rgba(250, 68, 84, 0.445);
  font-style: italic;
  margin-bottom: 10px;
}

.coolbutton {
  background: #f9f9f9;
  display: inline-block;
  padding: 6px 14px;
  border: 1px solid #eee;
  margin: 0 10px 0 0;
  text-decoration: none;
  cursor: pointer;
  color: #07a;
  margin-bottom: 10px;
  font-size : 22px;
}
